.burger_cards {
  margin-top: 56px;
}

.constructor_wrapper {
  max-height: 656px;
}

.burger_wrapper {
  max-height: 464px;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 16px;
}

.burger_card {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.burger_wrapper .burger_card:last-child .constructor-element {
  margin-bottom: 0;
}

.burger_wrapper .burger_card:last-child {
  margin-bottom: -16px;
}
.icon {
  margin-right: 8px;
}

.total_price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.price span {
  margin-right: 9.5px;
}
