.burger_item {
  max-width: 272px;
  position: relative;
  cursor: pointer;
}

.burger_price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger_price span {
  margin-right: 9px;
}
